html body {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  height: 48px;
  width: 100%;
  margin: 0;
}

.logo-container {
  box-sizing: border-box;
  height: 48px;
  padding: 10px 12px 10px 12px;
  display: flex;
}

.text-logo {
  color: #28352f;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
}

.nav-menu {
  width: 40px;
  height: 40px;
  right: 24px;
  display: flex;
  align-items: center;
}

